@import 'commun.css';
@import 'header.css';
@import 'dialogBox.css';


 
/* Forms --------------------------------------------------------------------------------------- */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #D5DBDB;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #D5DBDB;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #D5DBDB;
}

.legend {
    font-weight: bold;
    font-size:1.5em;
    padding-left: 1em;
}

form .valeur{
	width:30em;
}

form .position {
    text-align: center;
    width:5em;
}

form .valeurCivilite{
	width:10em;
}

/* form label { */
/*     float: left; */
/*     width: 25em; */
/*     margin: 3px 0px 0px 0px; */
/* } */

form textArea {
    float: left;
/*     width: 25em; */
    margin: 0.3em 0 0 0;
    padding: 1em;
}

form input, form select {
    margin: 3px 3px 0px 0px;
    border: 1px #ccc solid ;
    border-radius: 0.4em;
    margin: 0.2em;
    padding: 0.4em;    
}

form input.sansLabel {
    margin-left: 200px;
}

.displayInline{
    display: inline-flex;
    margin: 1em 0.5em;
}

.displayInline .input{
    margin: 2em 0.5em;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.errors {
    color: #f53;
    
}

.succes {
    color: #090;
}

.colonnesDouble{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.colonnesTriple{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.colonnesEditContact{
    display: grid;
    grid-template-columns: 20em 1fr 1fr 2em;
    padding: 0.5em;
    border-bottom: 1px #ccc solid;
}

.colonnesEditContact .editData{
    display: grid;
    padding: 0 1.1em;
}

.editDataList{
    display: grid;
    padding: 0 1.1em;
}

/* Détail adherents et modification -------------------------------------------------------------------------- */

.listAdherent-recherche{
	display:flex;
}

.listAdherent-recherche-button{
	display:flex;
}

.listAdherent-recherche-criteres{
	flex:1;	
}

.showAdherent, .editAdherent, .listeIdLibelle, .addAdherentContact{
	display:flex;
	flex-direction:column;
/* 	font-size:1.3em; */
}

.showAdherent H2{
    font-size: 2.35294em;
    line-height: 40px;
    text-align:center;
    color: #004462;
    font-size: 1.76471em;
    margin: 0 0 10px;
}

.colonne-commune{
    display: grid;
    grid-template-columns: 1fr 9em 9em;
}

.colonne-roleEOLAS{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.saveButton{
    text-align :right;	
    float :right;
}

.fieldsetCommentaire{
    padding: 0.5em;
    margin : 0.5em;
}

.editAdherentEntete .entete, .editAdherentContact .entete, .addAdherentContact .entete{
    align-items: center;
    display: grid;
    grid-template-columns: 9em 1fr 9em;
    padding: 0.2em 0.4em;
    text-align : center;
}

.editAdherentEntete .entete img, .editAdherent .entete img, .editAdherentContact .entete img{
    width:9em;
}

/* .editAdherent .error, .editAdherentContact .error, .addAdherentContact .error{ */
.error{
    color: red;
    font-style: italic;
    font-size: 0.9em;
    font-weight: bold;
}

.showAdherent .entete{
    align-items: center;
    display: grid;
    grid-template-columns: 12em 1fr;
    padding: 1em 0;
}

.showAdherent .listContact{
    display: grid;
    grid-template-columns: 3em 1fr 1fr 7em 7em;
}

.showAdherent .data {
    padding: 0em 0.2em;
    font-weight: bold;
    /*border-right: 1px solid #eee;*/
}

.showAdherent .dataTableNumeric {
    text-align: right;
    padding: 0em 0.4em;
    font-weight: bold;
    border-right: 1px solid #ddd;
}

.showAdherent .fontColorGreen{
    color: var(--CouleurVerte);
}

.showAdherent .fontColorRed{
    color: var(--CouleurRouge);
}

.showAdherent .dataTableNumericFinColonne {
    text-align: right;
    padding: 0em 0.4em;
    font-weight: bold;
    border-right: 3px solid #0F638C;
}

.showAdherent .dataTable {
    padding: 0em 0.2em;
    border-right: 1px solid #eee;
}

.showAdherent .dataTableFinColonne {
    /*padding: 0em 0.2em;*/
    border-right: 3px solid #0F638C;
}

.showAdherent .dataLabel {
    padding: 0em 0.2em;
    /*border-right: 1px solid #eee;*/
}
.showAdherent .dataTitre {
    padding: 0em 0.2em;
    border-right: 1px solid #eee;
}

.showAdherent .dataCenter {
    text-align: center;
    padding: 0em 0.2em;
    font-weight: bold;
    /*border-right: 1px solid #eee;*/
}

.showAdherent .dataRouge {
    color:var(--CouleurRouge);
    font-weight: bolder;
    text-decoration: underline; 
    padding: 0em 0.2em;
}

.showDetailCommentaire{
    display: grid;
    grid-template-columns: 12em 13em 1fr;
    padding: 0.2em 1em;
    font-size: 15px;	
}

.showDetailCommerce{
    display: grid;
    grid-template-columns: 15em 3.5em 6em 6em 6em 6em 1fr;
    padding: 0.2em 1.2em;
    font-size: 15px;	   
}

.showDetailCommerceTitre{
    display: grid;
    grid-template-columns: 15em 3.5em 6em 6em 6em 6em 1fr;
    padding: 0.2em 1.2em;
    font-size: 15px;	
    background-color: #82aa37;
    color: white;
}

.showDetailAnalyse{
    display: grid;
    grid-template-columns: 17em 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0.2em 0.5em;
    font-size: 15px;	   
}

.showDetailAnalyseTitre1{
    display: grid;
    text-align: center;
    grid-template-columns: 17em 3.6fr 3fr 3fr;
    padding: 0.2em 0.5em;
    font-size: 15px;	
    background-color: #82aa37;
    color: white;
}
.showDetailAnalyseTitre{
    display: grid;
    text-align: center;
    grid-template-columns: 17em 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0.2em 0.5em;
    font-size: 15px;	
    background-color: #82aa37;
    color: white;
}

.tableauChiffre{
      
}

.tableauChiffre > span:nth-child(even){
    background-color: #eee
}

.tableauChiffre > span:nth-last-child(-n+1){
    background-color: #ccc
}

.showAdherent .showContact{
    padding-bottom: 1em;	
}

.showAdherent .showCommentaire{
    margin-bottom: 5em;	
}

.editAdherent label, .editAdherentContact label, .editAdherentContact input , .editAdherentContact select {
    float:none;
    width:16em;
}

.showDetailAdherent{
    align-items: center;
    display: grid;
    grid-template-columns: 12em 1fr;
    padding: 0.2em;
}

.showDetailAdherentTriple{
    align-items: center;
    display: grid;
    grid-template-columns: 12em 1fr 1fr;
    padding: 0.2em;
}

.showDetailEditContact{
    align-items: center;
    display: grid;
    grid-template-columns: 12em 1fr 1fr;
    padding: 0.2em 1em;
}

.showDetailAdherentCommune{
    align-items: center;
    display: grid;
    grid-template-columns: 12em 1fr 3em 1fr;
    padding: 0.2em 1em;
	
}
/* #showAdherent fieldset , #editAdherent fieldset, #editAdherentContact fieldset{ */
fieldset {
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 0.4em;
    padding: 1em !important;
}

.showAdherent .delete, .editAdherent .delete, .editAdherentContact .delete, .listeIdLibelle .delete{
    width: 1.5em;
/*     height: 40px; */
}

.login {
    font-size: 1.3em;
    width: 400px;
    padding: 20px;
    margin: 100px auto;
}

.login div {
    display: flex;
}

.login input {
    margin: 0.5em;
    border: 2px #999 solid;
    flex:1;
    border-radius: 4px;
    font-size: 16px;
    height: 28px;
    padding: 13px 15px;
}
	
.login .error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.login .msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/* Liste des adherents --------------------------- */
.listeData {
    display :flex;
    flex-direction:column;
    width: 100%;
}

.fournisseur-item {
    display:flex;
}

.adherents-item {
    display:flex;
}

.adherents-item .data {
    font-size: 0.95em;
    line-height: 1em;
    padding: 0 0.2em;
    font-weight: bold;
}

.listeData div.photo{
    float:left;
    margin: auto;
    text-align:center;
    width:8em;
}

.photoContact{
    float:left;
    margin: auto;
    text-align:center;
    display: grid;
}

.photoContact img{
    margin: auto;
}

.showIcone{
    max-width: 15px; 
    vertical-align: middle;
}

.showAdherent div.photo{
    float:left;
/* 	margin-top:2.4em; */
    text-align:center;
}

.listeUtilisateur .detail {
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 0.4em;
    flex:1;
    margin:0.2em;
    padding: 0.4em;
}

.listeData div.photo img, .showAdherent div.photo img{
    max-width: 8em;
    max-height: 8em;
}

.listeData .adherents-item .detail {
    background-color: #ffffff;
    border: 2px solid #82aa37;
    border-radius: 0.4em;
    flex:1;
    margin:0.2em;
    padding: 0.4em;
}

.listeData .fournisseur-item .detail {
    background-color: #ffffff;
    border: 2px solid #004364;
    border-radius: 0.4em;
    flex:1;
    margin:0.2em;
    padding: 0.4em;
}
.showAdherent .adhernetCRMDetail {
    background-color: #ffffff;
    border: 1px solid #82aa37;
    border-radius: 0.4em;
    flex:1;
    margin:0.2em;
    padding: 0.4em;
}

.listeData .detail a{
    color: #004462;
    text-decoration: none; 
}

.listeData .info{
    display :flex;
}  

.listeData .code{
    flex:1;
    display: grid;
    grid-template-columns: 7em 1fr;
    margin:auto;
}  

.listeData .statut{
    flex:1;
    display: grid;
    grid-template-columns: 4em 1fr;
    margin:auto;
} 

.listeData .raccourcis{
    -flex:1;
    margin:auto;
    text-align:right;
}  

.alignLeft{
    text-align:left;
}  

.alignRight{
    text-align:right;
}  

.listeData .etatAdh{
    display: grid;
    grid-template-columns: 4em 1fr 2em ;
}  

.listeData .detail a:hover {
    text-decoration: underline; 
}
.listeData td, #customers th {
/*   border: 1px solid #ddd; */
  padding: 5px;
}

.listeData .link{
    width:25px;
}

.listeData .detail img{
    height:20px;
    text-align: center;
    width:20px;
}

svg {
    width:2em;
    height:2em;
}