<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd">
	
	<!-- 	Connection direct à la BDD A REVOIR CAR DANS TOUS LES FICHIERS XML -->
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/scabothequeDB" />
    </bean>

	<!-- authorisation d'acces aux fichiers resources -->
    <sec:http pattern="/resources/**" security="none"/> 

    <sec:http auto-config="true" use-expressions="true" >
        <sec:intercept-url pattern="/login" access="permitAll"/>

        <sec:intercept-url pattern="/**" access="isFullyAuthenticated()" />

        <sec:intercept-url pattern="/downloadFile**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_EXPORT')" />
        <sec:intercept-url pattern="/addAdherent" access="hasAnyRole('ROLE_ADMIN', 'ROLE_ADHERENT_EDIT')" />
        <sec:intercept-url pattern="/edit/editIdentiteAdh" access="hasAnyRole('ROLE_ADMIN', 'ROLE_ADHERENT_EDIT')" />
        <sec:intercept-url pattern="/edit/editAdherentContact" access="hasAnyRole('ROLE_ADMIN', 'ROLE_ADHERENT_EDIT')" />
        <sec:intercept-url pattern="/edit/editActiviteAdh" access="hasAnyRole('ROLE_ADMIN', 'ROLE_ACTIVITE_EDIT')" />
        <sec:intercept-url pattern="/edit/editArtipoleAdh" access="hasAnyRole('ROLE_ADMIN', 'ROLE_ARTIPOLE_EDIT')" />
        <sec:intercept-url pattern="/edit/editCRMAdh" access="hasAnyRole('ROLE_ADMIN', 'ROLE_CRM_EDIT')" />
        <sec:intercept-url pattern="/edit/editAdministratifAdh" access="hasAnyRole('ROLE_ADMIN', 'ROLE_ADMIN_FINANCE_EDIT')" />
        <sec:intercept-url pattern="/edit/editExploitationAdh" access="hasAnyRole('ROLE_ADMIN', 'ROLE_EXPLOITATION_EDIT')" />
        <sec:intercept-url pattern="/edit/editInformatiqueAdh" access="hasAnyRole('ROLE_ADMIN', 'ROLE_INFORMATIQUE_EDIT')" />
        <sec:intercept-url pattern="/analyse" access="hasAnyRole('ROLE_ADMIN', 'ROLE_DIRECTION')" />
        <sec:intercept-url pattern="/parametrage**" access="hasRole('ROLE_ADMIN')" />
        <sec:intercept-url pattern="/parametrage/listeUtilisateurs" access="hasRole('ROLE_ADMIN')" />

        <!--<sec:intercept-url pattern="/listeAdherents**" access="permitAll"/>-->
        <!--<sec:intercept-url pattern="/initListeAdherents" access="isFullyAuthenticated()"/>-->
        <!--<sec:intercept-url pattern="/listeFournisseurs**" access="permitAll"/>-->

        <sec:form-login 
            login-page="/login" 
            default-target-url="/listeAdherents" 
                authentication-failure-url="/loginFailed" 
                login-processing-url="/loginProcess"
                username-parameter="username"
                password-parameter="password" />
        <sec:access-denied-handler error-page="/accessDenied"/>

        <sec:csrf/>
    </sec:http>

 	<!-- Mode BDD fonctionne aussi actuellement utilisé  --> 
	<sec:authentication-manager>
	  <sec:authentication-provider>
	    <sec:password-encoder ref="passwordEncoder"/>
    	<sec:jdbc-user-service data-source-ref="dataSource"
		  users-by-username-query=
		    "select username, password, enabled from users where username=? "
		  authorities-by-username-query=
		    "select username, role from user_roles inner join users on user_roles.user_id = users.id where username=? " />
	  </sec:authentication-provider>
	</sec:authentication-manager>
	
	<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="10"/>
    </bean>
	
 	<!-- Mode manuel Fonctionne PLUS UTILISE  --> 
<!-- 	<sec:authentication-manager> -->
<!-- 		<sec:authentication-provider> -->
<!-- 			<sec:user-service> -->
<!-- 				<sec:user name="admin" password="{noop}123456" authorities="ROLE_ADMIN" /> -->
<!-- 				<sec:user name="pole" password="{noop}Scabois39" authorities="ROLE_pole" /> -->
<!-- 			</sec:user-service> -->
<!-- 		</sec:authentication-provider> -->
<!-- 	</sec:authentication-manager> -->

	<!-- Mode LDAP en cour de paramétrage -->
<!-- 	<sec:authentication-manager erase-credentials="true"> -->
<!--     	<sec:ldap-authentication-provider  -->
<!--         	user-search-filter="(uid={0})" -->
<!--         	user-search-base="OU=Scabois,DC=scabois,DC=local" -->
<!--         	group-search-filter="(uniqueMember={0})" -->
<!--         	group-search-base="ou=Scabois" -->
<!--         	group-role-attribute="cn" -->
<!--         	role-prefix="ROLE_"> -->
<!--         </sec:ldap-authentication-provider> -->
<!-- 	</sec:authentication-manager> -->
 
<!--  <sec:ldap-server url="ldap://10.211.40.230" port="389" manager-dn="uid=srv_ldap" /> -->

<!-- 	<sec:authentication-manager alias="authenticationManager"> 837d61a351196d2dc4810d2d2f266b8cdffe445e-->
<!--         <sec:ldap-authentication-provider -->
<!--             user-search-filter="(uid={0})" user-search-base="ou=Scabois" -->
<!--             group-search-filter="(uniqueMember={0})" group-search-base="ou=Scabois" -->
<!--             group-role-attribute="cn" role-prefix="ROLE_"> -->
<!--         </sec:ldap-authentication-provider> -->
<!--     </sec:authentication-manager> -->

<!--     <sec:ldap-server url="ldap://10.211.40.230:11389/o=local" -->
<!--         manager-dn="uid=Administrateur,ou=system" manager-password="f884169fe1457b0aa45119d1e58d8b6a" /> -->


</beans>